@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 150%; /* 72/48 */
  color: #000000;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 20px;
}

[class*=__ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #F7F7F7;
}

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
}
.header__navigation {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 28px 0;
  gap: 50px 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__logo {
  font-size: 48px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 50px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}
.header__item {
  display: inline;
}

.button {
  padding: 15px 44px;
  color: #3E86F5;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.about-block {
  height: 100%;
}
.about-block__preview {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
}
.about-block__title {
  font-weight: 600;
  font-size: calc(36px + 1.9444444444vw);
  min-height: 168px;
  line-height: 1.5;
  padding-bottom: 3.703704%; /* 40/1080 */
}
.about-block__subtitle {
  line-height: 2;
  font-size: calc(18px + 0.4166666667vw);
  padding-bottom: 100px;
}
.about-block__ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.booking-block {
  padding-bottom: 160px;
}
.booking-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
  margin-top: -180px;
}
.booking-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  padding: 10px 10px 20px 10px;
  -webkit-column-gap: 17px;
     -moz-column-gap: 17px;
          column-gap: 17px;
  border-radius: 25px 25px 0px 0px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.booking-block__button {
  border-radius: 25px;
  background: rgba(62, 134, 245, 0.2);
}
.booking-block__button_hotel .button-booking__picture {
  padding: 5.5px;
}
.booking-block__footer {
  border-radius: 0px 50px 50px 50px;
  background-color: #FFFFFF;
  padding: 60px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
}
.booking-block__area {
  border: 2px solid rgba(172, 172, 172, 0.5);
  border-radius: 25px;
  padding: 43px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.booking-block__area:nth-child(2) {
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.booking-block__find {
  background: rgba(62, 134, 245, 0.8);
  border-radius: 65px;
}
.booking-block__lupa {
  padding: 50px 52px;
}

.button-booking {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button-booking:last-child {
  background-color: #FFFFFF;
}
.button-booking__caption {
  font-size: 18px;
  line-height: 1.5;
}

.area__title {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}
.area__title_image-left {
  background-image: url(../img/plane-left.png);
  background-repeat: no-repeat;
  background-position: 60% 50%;
}
.area__title_image-right {
  background-image: url(../img/plane-right.png);
  background-repeat: no-repeat;
  background-position: 65% 50%;
}
.area__subtitle {
  font-size: 24px;
  line-height: 1.5;
}
.area__image {
  padding: 8px 7px;
  border-radius: 50%;
  border: 1px dashed rgba(0, 0, 0, 0.5);
}
.special {
  padding-bottom: 160px;
}
.special__title {
  padding-bottom: 60px;
  text-align: center;
}
.special__chose {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
}
.special__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 10px;
  -webkit-column-gap: 9px;
     -moz-column-gap: 9px;
          column-gap: 9px;
  font-size: 18px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
}
.special__button {
  padding: 10px 24px;
}
.special__button:first-child {
  background-color: #3E86F5;
  border-radius: 10px;
  color: #FFFFFF;
}
.special__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.special__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  padding: 21px 13px 25px 27px;
}
.special__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.special__vertical-text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.5em;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.special__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 10px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.special__minibutton {
  background: #FCDDEC;
  border-radius: 100px;
  font-size: 14px;
  line-height: 1.5;
  color: #F178B6;
  padding: 0 16px;
}
.special__minibutton-purple {
  color: #7879F1;
  background: #F1F1FD;
}
.special__days {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
}
.special__under-body {
  padding: 0 0 10px 20px;
  font-weight: 600;
  line-height: 1.5;
}
.special__footer {
  padding: 0 14px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.special__second-title {
  line-height: 1.5;
}
.special__span {
  font-size: 18px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
}
.special__click {
  background: #F2F6FF;
  border-radius: 10px;
  padding: 13px 11px;
  font-size: 14px;
  line-height: 1.5;
  color: #3E86F5;
  text-align: center;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
}

.travel__container {
  margin: 0 auto;
  max-width: 1390px;
  padding: 0 120px;
}
.travel__body {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.travel__block {
  position: relative;
}
.travel__table {
  position: absolute;
}
.travel__text {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-width: 360px;
}
.travel__text > :not(:last-child) {
  padding-bottom: 20px;
}
.travel__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 2;
  color: rgba(0, 0, 0, 0.5);
}
.travel__button {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
  padding: 23px 34px;
  background: #3E86F5;
  border-radius: 10px;
}

.table {
  text-align: center;
  padding: 27px 45px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
}
.table_first {
  top: 50%;
  left: -20%;
}
.table_second {
  top: 8%;
  left: 77%;
}
.table_thrid {
  top: 64%;
  left: 81%;
}
.table__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.5;
  color: #3E86F5;
}
.table__subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  margin-top: -14px;
}