
@import "null";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.main {
	flex: 1 1 auto;
	background-color: #F7F7F7;
}

.header {

	position: absolute;
	z-index: 2;
	width: 100%;

	&__navigation {
		color: $white-color;
		display: flex;
		padding: 28px 0;
		gap: 50px 50px;
		flex-wrap: wrap;
	}

	&__logo {
		font-size: 48px;
		flex: 1 1 auto;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 50px 50px;
		align-items: center;
	}

	&__item {
		display: inline;
	}

}
.button {
	padding: 15px 44px;
	color: $blue-color;
	background-color: $white-color;
	border-radius: 10px;
}
	
.about-block {

	&__preview {
		position: relative;
		z-index: 2;
		text-align: center;
		color: $white-color;
		padding: 310px 0 195px 0;
		max-width: 820px;
		margin: 0 auto;
	}

	&__title {
		font-weight: 600;
		font-size: 64px;
		min-height: 168px;
		line-height: 1.5;
		padding-bottom: 3.703704%; /* 40/1080 */
	}

	&__subtitle {
		line-height: 2;
	}

	&__ibg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	
}

.booking-block {
	padding-bottom: 160px;

	&__container {
		
	}

	&__body {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 2;
	}

	&__header {
		display: flex;
		background-color: $white-color;
		padding: 10px 10px 20px 10px;
		column-gap: 17px;
		border-radius: 25px 25px 0px 0px;
		width: max-content;
	}

	&__button {
		border-radius: 25px;
		background: rgba($color: $blue-color, $alpha: 0.2);

		&_plane {
		}

		&_hotel {
			.button-booking__picture {
				padding: 5.5px
			}
		}
	}

	&__footer {
		border-radius: 0px 50px 50px 50px;
		background-color: $white-color;
		padding: 60px 48px;
		display: flex;
		column-gap: 32px;
		justify-content: space-between;
		width: 100%;
		flex-wrap: wrap;
		row-gap: 40px;
	}

	&__area {
		border: 2px solid rgba(172, 172, 172, 0.5);
		border-radius: 25px;
		padding: 43px 22px;
		display: flex;
		align-items: center;
		line-height: 1.5;
		display: flex;
		column-gap: 32px;
		&:nth-child(2) {
			column-gap: 50px;
		}
	}

	&__find {
		background: rgba(62, 134, 245, 0.8);
		border-radius: 65px;
	}

	&__lupa {
		padding: 50px 52px;
	}
}
.button-booking {
	padding:15px 20px;
	display: flex;
	align-items: center;
	&:last-child{
			background-color: $white-color;
		}

	&__picture {
	}

	&__caption {
		font-size: 18px;
		line-height: 1.5;
	}
}
.area {

	&__item {	
	}

	&__title {
		font-size: 18px;
		color: $gray-color;

		&_image-left {
			background-image: url(../img/plane-left.png);
			background-repeat: no-repeat;
			background-position: 60% 50%;
		}

		&_image-right {
			background-image: url(../img/plane-right.png);
			background-repeat: no-repeat;
			background-position: 65% 50%;
			
		}
	}

	&__subtitle {
		font-size: 24px;
		line-height: 1.5;
	}

	&__picture {
	}

	&__image {

		padding: 8px 7px;
		border-radius: 50%;
		border: 1px dashed rgba(0, 0, 0, 0.5);

		&_plane {
		}

		&_date {
		}
	}
}

.special {
	padding-bottom: 160px;

	&__container {
	}

	&__block {
	}

	&__title {
		padding-bottom: 60px;
	}

	&__chose {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		padding-bottom: 40px;
	}

	&__buttons {
		display: flex;
		background: $white-color;
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
		border-radius: 10px;
		padding: 10px;
		column-gap: 9px;
		font-size: 18px;
		line-height: 1.5;
		color: rgba(0, 0, 0, 0.5);
	}

	&__button {
		padding: 10px 24px;
		&:first-child {
			background-color: $blue-color;
			border-radius: 10px;
			color: $white-color;
		}
	}	

	&__items {
		display: flex;
		column-gap: 20px;
		flex-wrap: wrap;
	}

	&__item {
		background: #FFFFFF;
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
		border-radius: 50px;
		padding: 21px 13px 25px 27px;
	}

	&__header {
		display: flex;
		column-gap: 20px;
	}

	&__picture {
	}

	&__image {
	}

	&__vertical-text {
		writing-mode: vertical-rl;
		font-size: 18px;
		line-height: 27px;
		letter-spacing: 0.5em;
		color: rgba(0, 0, 0, 0.5);
		text-align: center;
	}

	&__body {
		display: flex;
		column-gap: 12px;
		align-items: center;
		padding: 20px 0 10px 20px;
	}

	&__minibutton {
		background: #FCDDEC;
		border-radius: 100px;
		font-size: 14px;
		line-height: 1.5;
		color: #F178B6;
		padding: 0 16px;
		&-purple {
			color: #7879F1;
			background: #F1F1FD;
		}
	}

	&__days {
		font-size: 14px;
		line-height: 1.5;
		color: rgba(0, 0, 0, 0.5);
	}

	&__under-body {
		padding: 0 0 10px 20px;
		font-weight: 600;
		line-height: 1.5;
	}

	&__footer {
		padding: 0 14px 0 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__second-title {
		line-height: 1.5;

	}

	&__span {
		font-size: 18px;
		line-height: 1.5;
		color: rgba(0, 0, 0, 0.5);
	}

	&__click {
		background: #F2F6FF;
		border-radius: 10px;
		padding: 13px 11px;
		font-size: 14px;
		line-height: 1.5;
		color: $blue-color;
		text-align: center;
	}
}

.title {
	font-weight: 600;
	font-size: 48px;
	line-height: 1.5;
	text-align: center;
}