
@import "null";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.main {
	flex: 1 1 auto;
	background-color: #F7F7F7;
}

.header {

	position: absolute;
	z-index: 4;
	width: 100%;

	&__navigation {
		color: $white-color;
		display: flex;
		padding: 28px 0;
		gap: 50px 50px;
		flex-wrap: wrap;
		@media (max-width: 650px) {
			justify-content: center;
			row-gap: 40px;
		}
	}

	&__logo {
		font-size: 48px;
		flex: 1 1 auto;
		@media (max-width: 650px) {
			width: fit-content;
			flex: 0 0 auto;
		}
	}

	&__items {
		display: flex;
		justify-content: space-around;
		column-gap: 50px;
		align-items: center;
		padding: 0 5px;
		@include adaptiv-font(24, 20);
		@media (max-width: 500px) {
			column-gap: 30px;
		}
		
	}

	&__item {
		display: inline;
		&:hover {
			text-decoration: underline;
		}
	}

	&__container {
	}

}
.button {
	padding: 15px 44px;
	color: $blue-color;
	background-color: $white-color;
	border-radius: 10px;
	@media (max-width: 850px) {
		margin: 0 auto;
	}
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: #e2e1e1;
		color: #2d6dcc;
	}
}
	
.about-block {
	height: 100%;

	&__preview {
		position: relative;
		z-index: 2;
		text-align: center;
		color: $white-color;
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		margin: 20px auto;
	}

	&__title {
		font-weight: 600;
		@include adaptiv-font(64, 24);
		min-height: 11.666667vw; /* 168/1440 */
		line-height: 1.5;
		padding-bottom: 3.703704%; /* 40/1080 */
		@media (min-width: 1440px) {
			padding-bottom: 40px;
			min-height: 168px;
		}
	}

	&__subtitle {
		line-height: 2;
		@include adaptiv-font(24, 14);
		padding-bottom: 100px;
		@media (max-width: 1000px) {
			padding-bottom: 80px;
		}
		@media (max-width: 800px) {
			padding-bottom: 60px;
		}
		@media (max-width: 650px) {
			padding-bottom: 40px;
		}
		@media (max-width: 500px) {
			padding-bottom: 0px;
		}
	}

	&__ibg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	
}

.booking-block {
	padding-bottom: 11.111111vw; /* 160/1440 */
	@media (min-width: 1440px) {
		padding-bottom: 160px;
	}

	&__container {
		
	}

	&__body {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 2;
		margin-top: -180px;
	}

	&__header {
		display: flex;
		background-color: $white-color;
		padding: 10px 10px 20px 10px;
		column-gap: 17px;
		border-radius: 25px 25px 0px 0px;
		width: max-content;
	}

	&__button {
		border-radius: 25px;
		background-color: rgba($color: $blue-color, $alpha: 0.2);
		&:hover  {
			background-color: rgba($color: $blue-color, $alpha: 0.3);
		}
		&_plane {
		}

		&_hotel {
			.button-booking__picture {
				padding: 5.5px
			}
		}
	}

	&__footer {
		border-radius: 0px 50px 50px 50px;
		background-color: $white-color;
		padding: 60px 48px;
		display: flex;
		column-gap: 32px;
		justify-content: space-between;
		width: 100%;
		flex-wrap: wrap;
		row-gap: 40px;
		@media (max-width: 685px) {
			justify-content: center;
			padding: 60px 20px;
		}
		@media (max-width: 780px) {
			padding-top: 40px;
		}
	}

	&__area {
		border: 2px solid rgba(172, 172, 172, 0.5);
		border-radius: 25px;
		padding: 43px 22px;
		display: flex;
		align-items: center;
		line-height: 1.5;
		display: flex;
		column-gap: 32px;
		&:nth-child(2) {
			column-gap: 50px;
		}
		@media (max-width: 780px) {
			&:nth-child(2) {
				column-gap: 32px; /* 20/1440 */
			}
		}
	}

	&__find {
		background: rgba(62, 134, 245, 0.8);
		border-radius: 65px;
		transition: all 0.3s ease 0s;
		&:hover  {
			background: rgba($color: $blue-color, $alpha: 1);
		}
	}

	&__lupa {
		padding: 50px 52px;
		
	}
}
.button-booking {
	padding:15px 20px;
	display: flex;
	align-items: center;
	&:last-child{
			background-color: $white-color;
			&:hover  {
				background-color: rgba($color: $blue-color, $alpha: 0.3);
			}
			&:active  {
				background-color: rgba($color: $blue-color, $alpha: 0.2);
			}
		}

	&__picture {
	}

	&__caption {
		@include adaptiv-font(18, 16);
		line-height: 1.5;
		@media (min-width: 1440px) {
			font-size: 18px;
		}
	}
}
.area {

	&__item {	
	}

	&__title {
		@include adaptiv-font(18, 11);
		@media (min-width: 1440px) {
			font-size: 18px;
		}
		color: $gray-color;
		display: flex;
		
		align-items: center;
		
		&_image-left {
		}

		&_image-right {
		}

		&_image-left::after {
			content: url(../img/plane-left.png);
		}
		&_image-right::after {
			content: url(../img/plane-right.png);
		}
	}

	&__subtitle {
		@include adaptiv-font(24, 10);
		@media (min-width: 1440px) {
			font-size: 24px;
		}
		line-height: 1.5;
		font-weight: 600;
	}

	&__picture {
		&_mod {
			@media (max-width: 590px) {
				padding-right: 16px;
			}
		}
	}

	&__image {

		padding: 8px 7px;
		border-radius: 50%;
		border: 1px dashed rgba(0, 0, 0, 0.5);

		&_plane::after {
			
		}

		&_date::after {
		}
	}
}

.special {
	padding-bottom: 11.111111%; /* 160/1440px */

	&__container {
	}

	&__block {
	}

	&__title {
		padding-bottom: 60px;
		text-align: center;
	}

	&__chose {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		padding-bottom: 40px;
	}

	&__buttons {
		display: flex;
		background: $white-color;
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
		border-radius: 10px;
		padding: 10px;
		column-gap: 9px;
		font-size: 18px;
		line-height: 1.5;
		color: rgba(0, 0, 0, 0.5);
	}

	&__button {
		padding: 10px 24px; 
		border-radius: 10px;
		&:first-child {
			background: $blue-color;
			color: $white-color;
		}
		@media (max-width: 400px) {
			padding: 10px 18px; 
		}
		transition: all 0.3s ease 0s;
		&:hover  {
			background: rgba($color: $blue-color, $alpha: 1);
			color: $white-color;
		}
	}	

	&__items {
		display: flex;
		gap: 20px 20px;
		justify-content: center;
		@media (max-width: 1025px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__item {
		background: #FFFFFF;
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
		border-radius: 50px;
		padding: 21px 60px 25px 27px;
	}

	&__header {
		display: flex;
		column-gap: 20px;
	}

	&__ibg {
		padding-bottom: 93.174%;
		padding-right: 100%;
		position: relative;
	}

	&__image {
	}

	&__vertical-text {
		writing-mode: vertical-rl;
		font-size: 18px;
		line-height: 27px;
		letter-spacing: 0.5em;
		color: rgba(0, 0, 0, 0.5);
		text-align: center;
	}

	&__body {
		display: flex;
		column-gap: 12px;
		align-items: center;
		padding: 20px 0 10px 20px;
		flex-wrap: wrap;
	}

	&__minibutton {
		background: #FCDDEC;
		border-radius: 100px;
		font-size: 14px;
		line-height: 1.5;
		color: #F178B6;
		padding: 0 16px;
		&-purple {
			color: #7879F1;
			background: #F1F1FD;
		}
	}

	&__days {
		font-size: 14px;
		line-height: 1.5;
		color: rgba(0, 0, 0, 0.5);
	}

	&__under-body {
		padding: 0 0 10px 20px;
		font-weight: 600;
		line-height: 1.5;
	}

	&__footer {
		padding: 0 14px 0 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 120%;
	}

	&__second-title {
		line-height: 1.5;
		white-space: nowrap;
	}

	&__span {
		font-size: 18px;
		line-height: 1.5;
		color: rgba(0, 0, 0, 0.5);
	}

	&__click {
		background: #F2F6FF;
		border-radius: 10px;
		padding: 13px 11px;
		font-size: 14px;
		line-height: 1.5;
		color: $blue-color;
		text-align: center;
		transition: all 0.3s ease 0s;
		&:hover  {
			background: rgba($color: $blue-color, $alpha: 0.25);
		}
	}
}

.title {
	font-weight: 600;
	@include adaptiv-font(48, 36);
	@media (min-width: 1440px) {
		font-size: 48px;
	}
	line-height: 1.5;
}

.travel {
	
	&__container {
		max-width: 1390px;
		padding: 5.555vw 8.333333vw; /* 120/1440 */
		@media (min-width: 1440px) {
			padding: 80px 120px;
		}
	}

	&__body {
		padding: 0px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 180px;
		row-gap: 60px;
		@media (max-width: 1300px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__block {
		position: relative;
		width: 100%;
		@media (max-width: 1300px) {
			width: 30%;
		}
		@media (max-width: 1200px) {
			width: 40%;
		}
		@media (max-width: 1100px) {
			width: 50%;
		}
		@media (max-width: 1000px) {
			width: 60%;
		}
		@media (max-width: 900px) {
			width: 70%;
		}
		@media (max-width: 800px) {
			width: 80%;
		}
		@media (max-width: 700px) {
			width: 100%;
		}
	}

	&__table {
		position: absolute;
		z-index: 2;
	}

	&__ibg {
		padding-bottom: 166.666%;
		padding-right: 100%;
		position: relative;
		
	}

	&__image {

		}

	&__text {
		max-width: 47%;
		& > :not(:last-child) {
			padding-bottom: 20px;
		}
		height: max-content;
		min-width: 360px;
		@media (max-width: 700px) {
			min-width: 0px;
			max-width: 100%;
		}
		@media (max-width: 1200px) {
			& > :not(:last-child) {
				padding-bottom: 40px;
				
			}
			text-align: center;
		}
	}

	&__title {
		@include adaptiv-font(48, 30);
		@media (min-width: 1440px) {
			font-size: 48px;
		}
	}

	&__subtitle {
		font-weight: 400;
		@include adaptiv-font(20, 14);
		@media (min-width: 1440px) {
			font-size: 20px;
		}
		line-height: 2;
		color: rgba(0, 0, 0, 0.5);
		
	}

	&__button {
		display: inline-block;
		font-weight: 400;
		font-size: 20px;
		line-height: 1.5;
		color: #FFFFFF;
		padding: 23px 34px;
		background: #3E86F5;
		border-radius: 10px;
		transition: all 0.3s ease 0s;
		&:hover  {
			background: #2d6dcc;
		}
	}
}
.table {
	text-align: center;
	padding: 1.875vw 3.125vw;
	@media (min-width: 1440px) {
		padding: 27px 45px;
	}
	background: #FFFFFF;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
	border-radius: 35px;
	&_first {
		top: 50%;
		left: -8%;
	}

	&_second {
		top: 8%;
		right: -8%;
	}

	&_thrid {
		top: 70%;
		right: -8%;
	}

	&__title {
		font-weight: 600;
		@include adaptiv-font(36, 18);
		@media (min-width: 1440px) {
			font-size: 36px;
		}
		line-height: 1.5;
		color: #3E86F5;
		padding-bottom: 2px;
	}

	&__subtitle {
		@include adaptiv-font(18, 16);
		@media (min-width: 1440px) {
			font-size: 18px;
		}
		font-weight: 300;
		line-height: 1.5;
		color: #000000;
		margin-top: -14px;
	}
}

.rec {

	&__container {
	}

	&__body {
		padding: 8.333333vw 0; /* 120/1440 */
		@media (min-width: 1440px) {
			padding: 120px 0;
		}
	}

	&__title {
		text-align: center;
		padding-bottom: 40px;
	}

	&__chose {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		padding-bottom: 80px;
	}

	&__buttons {
		display: flex;
		border-radius: 10px;
		padding: 10px;
		column-gap: 2px;
		font-size: 18px;
		line-height: 1.5;
		color: rgba(0, 0, 0, 0.5);
		font-weight: 600;
	}

	&__button {
		padding: 10px 23px;
		border-radius: 10px;
		&:first-child {
			background: #FFFFFF;
			color: #3E86F5;
		}
		@media (max-width: 700px) {
			padding: 10px 18px;
		}
		transition: all 0.3s ease 0s;
		&:hover  {
			background: #FFFFFF;
			color: #3E86F5;
		}
	}	

	&__cards {
		display: flex;
		justify-content: center;
		gap: 20px 20px;
		// 846
		@media (max-width: 846px) {
			flex-wrap: wrap;
		}
	}

	&__card {
		background: #FFFFFF;
		box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
		border-radius: 25px;
		padding: 10px;
		position: relative;
		
		@media (max-width: 535px) {
			width: 100%;
		}
	}

	&__rating {
		top: 7%;
		right: 10%;
	}

	

	&__ibg {
		position: relative;
		padding-bottom: 76.92%;
		margin-bottom: 17px;
	}

	&__image {
		
	}

	&__name {
		font-weight: 600;
		text-align: left;	
		padding: 0 20px 5px 20px;
	}

	&__subtitle {
		font-size: 14px;
		color: rgba(0, 0, 0, 0.5);
		background: url(../img/Location.png);
		background-repeat: no-repeat;
		padding: 0 17px;
		line-height: 1.5;
		margin: 0 20px;
	}
}

.rating {
	position: absolute;
	background: #FFFFFF;
	border-radius: 25px;
	padding: 1px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	z-index: 2;
	
	&__star {

	}

	&__text {
		font-weight: 500;
		font-size: 12px;
		line-height: 1;
	}
}
.quote {

	&__container {
		padding-bottom: 56px;
	}

	&__body {
		padding: 11.111vw 0 56px 0;
		@media (min-width: 1440px) {
			padding: 160px 0 56px 0;
		}
	}

	&__items {
		display: flex;
		column-gap: 20px;
		justify-content: center;
		row-gap: 100px;
		padding-bottom: 20px;
		@media (max-width: 960px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		background: #FFFFFF;
		border-radius: 50px;
		padding: 85px 36px 10px 36px;
		font-weight: 500;
		@include adaptiv-font(20, 14);
		@media (min-width: 1440px) {
			font-size: 20px;
		}
		line-height: 1.5;
		text-align: center;
		position: relative;
		background-image: url(../img/points.png);
		background-repeat: no-repeat;
		background-position: 50% 13%;
		max-width: 580px;
		@media (max-width: 780px) {
			background-position: 50% 10%;
		}
		@media (max-width: 480px) {
			background-position: 50% 8%;
		}
		@media (max-width: 960px) {
			&:last-child {
				display: none;
			}
		}
	}

	&__caption {
		color: #000000;
		padding-bottom: 10px;
		line-height: 2.1; /* 42/20 */
	}

	&__author {
		color: #3E86F5;
		
	}

	&__subtitle {
		position: relative;
		display: flex;
		flex-direction: column;
		color: rgba(0, 0, 0, 0.5);
		&::after{
			content: url(../img/quote1.png);
			padding-top: 15px;
			margin-bottom: -60%;
		}
		width: fit-content;
		margin: 0 auto;
	}

	&__rating {
		left: 65%;
		top: 50px;
	}

	&__image {
	}

	&__slider {

	}
}

.slider {

		display: flex;
		justify-content: center;
		column-gap: 20px;

		&__button {
			padding: 10px 15px;
			border: 2px solid rgba(62, 134, 245, 0.5);
			border-radius: 20px;
			transition: all 0.3s ease 0s;
			&:hover  {
				background-color: rgba(62, 134, 245, 0.2);
			}
			&:active  {
				background-color: rgba(62, 134, 245, 0.3);
			}
		}

		&__image {
		}
}

.register {
	&__container {
		padding: 5.555556vw 20px 8.541667vw 20px;
		@media (min-width: 1440px) {
			padding: 80px 20px 123px 20px;
		}
	}

	&__body {
		border-radius: 100px;
		padding: 7.986111vw 15.138889vw;
		@media (min-width: 1440px) {
			padding: 115px 218px;
		}
		text-align: center;
		display: flex;
		flex-direction: column;
		line-height: 1.5;
		background-image: url(../img/space.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		align-items: center;
	}

	&__text {
		font-weight: 600;
		@include adaptiv-font(48, 28);
		@media (min-width: 1440px) {
			font-size: 48px;
		}	
		color: #FFFFFF;
		padding-bottom: 40px;
	}

	&__button {
		width: fit-content;
		background: #FFFFFF;
		border-radius: 25px;
		padding: 25px 35px;
		font-weight: 500;
		@include adaptiv-font(20, 18);
		@media (min-width: 1440px) {
			font-size: 20px;
		}
		color: #3E86F5;
		@media (max-width: 400px) {
			padding: 20px 30px;
		}
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #e2e1e1;
			color: #2d6dcc;
		}
	}
	
}

.footer {
	
	background-color: #F7F7F7;

	&__container {
	}

	&__body {
		display: flex;
		align-items: center;
		padding-bottom: 83px;
		justify-content: space-between;
		column-gap: 40px;
		row-gap: 20px;
		@media (max-width: 870px) {
			flex-wrap: wrap;
			justify-content: center;
			padding-bottom: 40px;
		}
	}

	&__rights {
		line-height: 2.2;
		@include adaptiv-font(20, 16);
		@media (min-width: 1440px) {
			font-size: 20px;
		}
		color: rgba(0, 0, 0, 0.5);
		@media (max-width: 869px) {
			flex: 0 1 auto;
		}
	}

	&__links {
		display: flex;
		column-gap: 50px;
		line-height: 1.5;
		@media (max-width: 400px) {
			column-gap: 25px;
		}
	}

	&__link {
		display: inline;
		font-weight: 500;
		@include adaptiv-font(24, 20);
		@media (min-width: 1440px) {
			font-size: 24px;
		}
		color: rgba(0, 0, 0, 0.75);
		&:hover {
			text-decoration: underline;
		}
	}
}
